*{margin: 0; padding: 0;}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background: white;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    line-height: 79px;
}

li.nav-item {
    margin: 0;
    padding: 0;
    margin: 0 17px;
}

nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
} 

@media (max-width:576px){
	* {}

li.nav-item {
    float: none!important;
    display: inline;
}

ul.nav.navbar-nav.float-xs-right {
    float: none;
    text-align: center;
}

li.nav-item {
    display: inline!important;
    margin: 0 0;
}

a.nav-link {
    line-height: 27px;
    display: inline!important;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
}
}